<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<img src="http://drive.google.com/uc?export=view&id=1e72Gpqdyo4RWcJbNArUEAuIxcuzdjd_M" alt="photo iphone from project">


<!--Вот решение:
Ссылка на изображение в Гугл диске выглядит так : https://drive.google.com/file/d/1rgOORoI...
и нужно всю часть, предшествующую абракадабре заменить на http://drive.google.com/uc?export=view&id=
таким образом, нерабочая ссылка
https://drive.google.com/file/d/1rgOORoIZA3Mb7v8fADbjh-BgirW6-5h-
превращается в действующую http://drive.google.com/uc?export=view&id=1rgOORoIZA3Mb7v8fADbjh-BgirW6-5h-
Аналогично поступаем с видеороликами:
после колдовских манипуляций получаем результат
http://drive.google.com/uc?export=view&id=11mHB6Ic6ZZXeWwFSa8qJ5_f09dY1eMGf
-->

</body>
</html>